fsb-base/dotfiles/ssh/id*
fsb-base/dotfiles/ssh/known_hosts
fsb-base/dotfiles/ssh/ssh
fsb-ss/config.json
fsb-ss/gui-config.json
fsb-ss/ssr-config.json
/fsb-base/dotfiles/emacs/straight/
/fsb-base/dotfiles/emacs/auto-save-list/
/fsb-base/dotfiles/emacs/transient/
/fsb-base/dotfiles/emacs/url/
/fsb-base/dotfiles/emacs/projectile-bookmarks.eld
